<p id="notice"><%= notice %></p>

<span><%= link_to 'Chirp!', new_chirp_path %></span>

    <% @chirps.each do |chirp| %>
        <p class="user"><%= chirp.user %></p>
        <p class="chirp"><%= chirp.body %></p>
        <%= link_to 'Show', chirp %> |
        <%= link_to 'Edit', edit_chirp_path(chirp) %> |
        <%= link_to 'Destroy', chirp, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>


